<div class="h-card">
  <img class="u-photo" src="https://ldavid.fr/photo.png" alt="" />
  <a class="p-name u-url" href="https://ldavid.fr">Ludovic David</a>
  <a class="u-email" href="mailto:contact@ldavid.fr">contact@ldavid.fr</a>, 
  
  <span class="p-locality">Paris</span>
  <span class="p-country-name">France</span>

  <ul>
    <li><a href="/blog/atom.xml">RSS</a></li>
    <li><a class="u-url" href="https://github.com/HyroVitalyProtago" rel="me">Github</a></li>
    <li><a class="u-url" href="https://twitter.com/HyroVitaly" rel="me">Twitter</a></li>
    <li><a class="u-url" href="https://www.linkedin.com/in/ludovicdavid/" rel="me">Linkedin</a></li>
  </ul>
</div>