<div class="h-card">
  <div class="h-card-mini">
    <img class="u-photo" src="/assets/profil.jpg" alt="" />
    <div class="h-card-infos">
      <div class="h-card-head">
        <h1><a class="p-name u-url" href="https://ldavid.fr">Ludovic David</a></h1>
        <h2><a class="u-email" href="mailto:contact@ldavid.fr">@ldavid.fr</a></h2>
      </div>
      <ul>
          <li><a href="/blog/atom.xml">RSS 🌐</a><a href="/blog/fr/atom.xml">🇫🇷</a><a href="/blog/en/atom.xml">🇬🇧</a></li>
          <li><a class="u-url" href="https://github.com/HyroVitalyProtago" rel="me">Github</a></li>
          <li><a class="u-url" href="https://twitter.com/HyroVitaly" rel="me">Twitter</a></li>
          <li><a class="u-url" href="https://www.linkedin.com/in/ludovicdavid/" rel="me">Linkedin</a></li>
        </ul>
    </div>
  </div>

  <span class="p-locality" style="display: none;">Paris</span>
  <span class="p-country-name" style="display: none;">France</span>
</div>